{% extends 'base.html.twig' %}

{% block title %}Nouveau Groupe{% endblock %}

{% block body %}
    <h1>Créer un groupe</h1>

    {{ include('groupe/_form.html.twig') }}

    <a href="{{ path('app_groupe_index') }}" class="retour btn btn-warning mt-3">Retour à la liste</a>
{% endblock %}
